# Trabalho final para a mat√©ria: "Anota√ß√£o de Textos e Processamento de Linguagem Natural (CIC0087)" üòä

## Reconhecimento de Entidades Nomeadas

### Aluno: Guilherme Braga (17/0162290)

#### [Reposit√≥rio no Github](https://github.com/gui1080/IA_CIC0087_Reconhecimento_de_Entidades_Nomeadas)

### Pegando os dados originais üßê

In [ ]:
from google.colab import files

# importar o arquivo de disco local, com o nome original "contratos.csv"
uploaded = files.upload()

Saving contratos.csv to contratos.csv

### Limpando os dados üöÆ

In [ ]:
import pandas as pd
import numpy as np
import io

# Adicionando em dataframe
df = pd.read_csv(io.BytesIO(uploaded['contratos.csv']))
df = df.replace([np.inf, -np.inf], np.nan)
df = df.reset_index()

df

,index,id_dodf,tipo_rel,id_rel,anotador_rel,timestamp_rel,tipo_ent,id_ent,anotador_ent,timestamp_ent,offset,length,texto
0,0,22_20.12.2019.1,REL_ADITAMENTO_CONTRATO,R5,matheus_santos,2022-04-02T22:45:52Z,numero_termo_aditivo,275,matheus_santos,2022-03-04T15:34:41Z,372969,20,QUARTO TERMO ADITIVO
1,1,22_20.12.2019.1,REL_ADITAMENTO_CONTRATO,R5,matheus_santos,2022-04-02T22:45:52Z,numero_contrato,276,matheus_santos,2022-03-04T15:34:41Z,373005,8,002/2018
2,2,22_20.12.2019.1,REL_ADITAMENTO_CONTRATO,R5,matheus_santos,2022-04-02T22:45:52Z,orgao_contratante,277,matheus_santos,2022-03-04T15:34:41Z,373098,8,DF/RA II
3,3,22_20.12.2019.1,REL_ADITAMENTO_CONTRATO,R5,matheus_santos,2022-04-02T22:45:52Z,objeto_aditamento_contratual,278,matheus_santos,2022-03-04T15:34:41Z,373238,481,O presente Termo Aditivo objetiva a alteracao ...
4,4,22_20.12.2019.1,REL_ADITAMENTO_CONTRATO,R5,matheus_santos,2022-04-02T22:45:52Z,processo_gdf,434,matheus_santos,2022-04-02T22:45:46Z,373072,16,0131-000016/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6691,6691,8_13.8.2019,REL_EXTRATO_CONTRATO,R5,alexandre_santana,2022-03-08T12:03:42Z,vigencia_contrato,6,alexandre_santana,2022-02-22T02:34:10Z,478144,17,04 (quatro) meses
6692,6692,8_13.8.2019,REL_EXTRATO_CONTRATO,R5,alexandre_santana,2022-03-08T12:03:42Z,valor_contrato,5,alexandre_santana,2022-02-22T02:34:10Z,478173,9,"76.500,00"
6693,6693,8_13.8.2019,REL_EXTRATO_CONTRATO,R5,alexandre_santana,2022-03-08T12:03:42Z,data_assinatura_contrato,149,alexandre_santana,2022-03-08T12:03:37Z,478086,10,07/08/2019
6694,6694,8_13.8.2019,REL_EXTRATO_CONTRATO,R5,alexandre_santana,2022-03-08T12:03:42Z,objeto_contrato,150,alexandre_santana,2022-03-08T12:03:37Z,478106,26,aquisicao de fita eletrica
6695,6695,8_13.8.2019,REL_EXTRATO_CONTRATO,R5,alexandre_santana,2022-03-08T12:03:42Z,EXTRATO_CONTRATO,151,alexandre_santana,2022-03-08T12:03:37Z,477783,553,EXTRATO DE CONTRATO\nEspecie: Contrato no 746/...

In [ ]:
# 80% vai ser treino, 20% vai ser teste
# 0.8 * 6695 = 5356
# at√© o √≠ndice 5356 vai ser treino, depois disso √© teste

# √© o dado
x = df.filter(['texto'])

x_train_raw = x.iloc[:5356] 
x_test_raw = x.iloc[5356:]  

# √© o resultado do dado
y = df.filter(['id_ent'])

y_train_raw = y.iloc[:5356]
y_test_raw = y.iloc[5356:]

valores_distintos = y_train_raw['id_ent'].nunique() + 1
valores_distintos_nao_nulos = y_train_raw['id_ent'].count()

print(valores_distintos)              # entidades poss√≠veis
print(valores_distintos_nao_nulos)    # repeti√ß√µes

624
5356

In [ ]:
from tensorflow import keras

# convers√£o para "one-hot codes"

# to_categorical -> vai de 0 at√© "valores_distintos - 1" como uma possibilidade
# esses dados come√ßam em 1, vou subtrair 1 de tudo, para 0 virar uma categoria

y_train_raw = y_train_raw - 1
y_test_raw = y_test_raw - 1

y_train = keras.utils.to_categorical(y_train_raw, valores_distintos)
y_test = keras.utils.to_categorical(y_test_raw, valores_distintos)

print(y_train[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

RNN

In [ ]:
# 28 sequencias de 28 elementos

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM

model = Sequential()
model.add(LSTM(128, input_shape=(x_train.shape[1:]), activation='relu', return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(128, activation='relu'))
model.add(Dropout(0.1))

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(valores_distintos, activation='softmax'))

NameError: ignored

In [ ]:
opt = tf.keras.optimizers.Adam(lr=0.001, decay=1e-6)

model.compile(
    loss='sparse_categorical_crossentropy',
    optimizer=opt,
    metrics=['accuracy'],
)

model.fit(x_train,
          y_train,
          epochs=3,
          validation_data=(x_test, y_test))